<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--<add name="db_QuanlyDaily" connectionString="Data Source=DESKTOP-HOBK3H5\MINSHN;Initial Catalog=db_QLDaily;Integrated Security=True" />-->
		<add name="db_QuanlyDaily" connectionString="Data Source=DESKTOP-JKFADED;Initial Catalog=db_QLDaily;Integrated Security=True" />
		<add name="db_QuanlyDaily.Properties.Settings.db_QuanlyDailyConnectionString"
		 connectionString="Data Source=DAT;Initial Catalog=db_QuanlyDaily;Integrated Security=True"
		 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>